# Capstone Project - Assignment 2 - Segmenting and Clustering - Toronto Neighborhoods

## Part 2 - Create a Dataframe that displays the Toronto Postal Codes, Neighborhoods and Latitude and Longitude

This Notebook has been created for my data science Capstone project. It will be a portfolio of my work for my Capstone journey.

In [1]:
import pandas as pd
import numpy as np
import requests

Creation of dataframe using data saved in the previous step of the assignment.

In [2]:
dfPcodes = pd.read_csv('end_part1.csv')

print('Data downloaded and read into a dataframe!')

Data downloaded and read into a dataframe!

View a portion of the dataframe.

In [3]:
#list first 15 rows in the dataframe
dfPcodes.head(15)

,PostalCode,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Harbourfront,Regent Park"
3,M6A,North York,"Lawrence Heights,Lawrence Manor"
4,M7A,Queen's Park,Queen's Park
5,M9A,Etobicoke,Islington Avenue
6,M1B,Scarborough,"Rouge,Malvern"
7,M3B,North York,Don Mills North
8,M4B,East York,"Woodbine Gardens,Parkview Hill"
9,M5B,Downtown Toronto,"Ryerson,Garden District"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"Cloverdale,Islington,Martin Grove,Princess Gar..."
12,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union"
13,M3C,North York,"Flemingdon Park,Don Mills South"
14,M4C,East York,Woodbine Heights

Use of the dataframe shape method.

In [4]:
dfPcodes.shape

(103, 3)

## Section to combine Latitude and Longitude Coordinates

In [5]:
dflatlon = pd.read_csv('http://cocl.us/Geospatial_data')

print('Data downloaded and read into a dataframe!')

Data downloaded and read into a dataframe!

In [6]:
dflatlon.shape

(103, 3)

This dataframe contains the latitude and longitude data.

In [7]:
dflatlon.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [8]:
dfPcodes.dtypes

PostalCode      object
Borough         object
Neighborhood    object
dtype: object

In [9]:
dflatlon.dtypes

Postal Code     object
Latitude       float64
Longitude      float64
dtype: object

Merging the two dataframes

In [10]:
dfPcodeLatLon = dfPcodes.merge(dflatlon, left_on='PostalCode', right_on='Postal Code')

In [11]:
dfPcode2 = dfPcodeLatLon.drop(['Postal Code'], axis=1)

Dataframe generated for assignment.

In [12]:
dfPcode2.head(20)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Harbourfront,Regent Park",43.654260,-79.360636
3,M6A,North York,"Lawrence Heights,Lawrence Manor",43.718518,-79.464763
4,M7A,Queen's Park,Queen's Park,43.662301,-79.389494
5,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
6,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
7,M3B,North York,Don Mills North,43.745906,-79.352188
8,M4B,East York,"Woodbine Gardens,Parkview Hill",43.706397,-79.309937
9,M5B,Downtown Toronto,"Ryerson,Garden District",43.657162,-79.378937
10,M6B,North York,Glencairn,43.709577,-79.445073
11,M9B,Etobicoke,"Cloverdale,Islington,Martin Grove,Princess Gar...",43.650943,-79.554724
12,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
13,M3C,North York,"Flemingdon Park,Don Mills South",43.725900,-79.340923
14,M4C,East York,Woodbine Heights,43.695344,-79.318389
15,M5C,Downtown Toronto,St. James Town,43.651494,-79.375418
16,M6C,York,Humewood-Cedarvale,43.693781,-79.428191
17,M9C,Etobicoke,"Bloordale Gardens,Eringate,Markland Wood,Old B...",43.643515,-79.577201
18,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
19,M4E,East Toronto,The Beaches,43.676357,-79.293031

In [13]:
dfPcode2.shape

(103, 5)

In [14]:
#This creates a csv file with the data stored in dfPcode2 dataframe for use in the next part of the assignment.
#It is only needed to be run once and can be commented out after you are satisfied with the results
dfPcode2.to_csv('end_part2.csv',index=False)